.first-screen {
  transform: translateX(-100vw);
  &__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
  }

  &__text {
    margin-top: 55px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    max-width: 960px;

    & strong {
      background: $mainOrange;
      color: $mainWhite;
    }
  }

  &__quote {
    position: relative;
    margin: 62px 0 0 367px;
    padding: 70px 57px;
    max-width: 735px;
    width: 100%;

    &::after {
      content: "";
      display: block;
      width: 110%;
      height: 100%;
      position: absolute;
      top: 0;
      left: -37px;
      background: url("/images/quote-bg.svg") no-repeat center;
      z-index: -1;
    }

    &-text {
      font-family: "Roboto";
      font-size: 20px;
      line-height: 1.3;
      max-width: 590px;
    }
  }

  &__circles {
    position: relative;
    max-width: 371px;
    width: 100%;
    height: 371px;
    background: url("/images/circle-bg.svg") no-repeat center;
    margin: 58px 0 0 374px;
    background-size: 100%;

    &-item {
      position: absolute;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: inherit;
      height: inherit;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;

      &:not(:first-child) {
        opacity: 0;
      }

      & strong {
        font-weight: 700;
        font-size: 69.1388px;
        line-height: 119%;
      }
    }
  }

  &__bag {
    bottom: -169px;
    left: -18px;
    position: absolute;
  }

  &__road {
    max-width: 895px;
    height: 1066px;
    background: url("/images/road.svg") no-repeat center;
    top: 0;
    right: 55px;

    &-icon {
      top: -3px;
      left: 86px;
    }
  }
}
